@{
    ViewBag.Title = "Home Page";
    var datetime = DateTime.Now.ToString("dd/MM/yyyy");

}

@model List<WebDemoMVC.EntitiesFrameWork.Entites.Category>


<div class="jumbotron">
    <h1>ASP.NET - Ngay : @datetime</h1>
</div>

<div class="row">
    <div>
        <div class="form-group">
            <input type="text" class="form-control" id="txtCatId" placeholder="CategoryId" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="txtCateName" placeholder="CategoryName" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" id="btnSave" type="button">Thêm mới</button>
            <button class="btn btn-success" id="btnUpdate" type="button">Chỉnh sửa</button>
        </div>
    </div>
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>CategoryId</th>
                <th>CategoryName</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td><button type="button" class="btn btn-success" onclick="Category_Delete(@item.CategoryId)">Xóa</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div>
        <div class="form-group">
            <input type="text" class="form-control" id="txtPostId" placeholder="PostId" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="txtPostName" placeholder="PostName" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" id="btnSavePost" type="button">Thêm mới</button>
            <button class="btn btn-success" id="btnUpdatePost" type="button">Chỉnh sửa</button>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>PostId</th>
                <th>PostName</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in ViewData["Posts"] as List<WebDemoMVC.EntitiesFrameWork.Entites.Post>)
            {
                <tr>
                    <td>@post.PostId</td>
                    <td>@post.PostName</td>
                    <td><button type="button" class="btn btn-success" onclick="Post_Delete(@post.PostId)">Xóa</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
    });
    $("#btnSave").click(function () {
        CategoryInsert();
        
    })
    $("#btnUpdate").click(function () {
        CategoryUpdate();
        /*oTable.draw();*/
    })

    $("#btnSavePost").click(function () {
        PostInsert();
    })
    $("#btnUpdatePost").click(function () {
        PostUpdate();
    })

    function Category_Delete(id) {

        var result = confirm("Bạn có chắc chắn muốn xóa bản ghi này không ?");

        if (result == true) {
            var param = {
                id: id
            };

            $.ajax({
                type: 'POST',
                url: "/Home/Delete",
                data: param,
                dataType: "json",
                success: function (data) {
                    alert(data.msg);
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));
                }
            });
        }
    }

    function Post_Delete(id) {

        var result = confirm("Bạn có chắc chắn muốn xóa bản ghi này không ?");

        if (result == true) {
            var param = {
                id: id
            };

            $.ajax({
                type: 'POST',
                url: "/Home/DeletePost",
                data: param,
                dataType: "json",
                success: function (data) {
                    alert(data.msg);
                },
                error: function (data) {
                    console.log("error:" + JSON.stringify(data));
                }
            });
        }
    }

    function CategoryInsert() {

        var id = $("#txtCatId").val();
        var name = $("#txtCateName").val();

        var param = {
            CategoryId: id,
            CategoryName: name
        };
        $.ajax({
            type: 'POST',
            url: "/Home/Insert",
            data: param,
            dataType: "json",
            success: function (data) {
                alert(data.msg);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }

    function PostInsert() {

        var id = $("#txtPostId").val();
        var name = $("#txtPostName").val();

        var param = {
            PostId: id,
            PostName: name
        };
        $.ajax({
            type: 'POST',
            url: "/Home/InsertPost",
            data: param,
            dataType: "json",
            success: function (data) {
                alert(data.msg);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }

    function CategoryUpdate() {

        var id = $("#txtCatId").val();
        var name = $("#txtCateName").val();

        var param = {
            CategoryId: id,
            CategoryName: name
        };
        $.ajax({
            type: 'POST',
            url: "/Home/Update",
            data: param,
            dataType: "json",
            success: function (data) {
                alert(data.msg);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }

    function PostUpdate() {

        var id = $("#txtPostId").val();
        var name = $("#txtPostName").val();

        var param = {
            PostId: id,
            PostName: name
        };
        $.ajax({
            type: 'POST',
            url: "/Home/UpdatePost",
            data: param,
            dataType: "json",
            success: function (data) {
                alert(data.msg);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }
</script>